# https://editorconfig.org

# Regra principal, aplicada a todos os arquivos
root = true

[*]
# Estilo de indentação: "space" para espaços ou "tab" para tabulações
indent_style = space

# Tamanho da indentação (largura de um nível de indentação)
indent_size = 2

# Final de linha: "lf" (Unix), "cr" (Mac antigo) ou "crlf" (Windows)
end_of_line = lf

# Codificação de caracteres
charset = utf-8

# Remove espaços em branco no final das linhas
trim_trailing_whitespace = true

# Garante que o arquivo termine com uma linha em branco
insert_final_newline = true

# Configurações específicas para arquivos YAML
[*.{yml,yaml}]
indent_size = 2

# Configurações específicas para arquivos Markdown
[*.md]
# Desativa a remoção de espaços no final da linha, pois 
# dois espaços podem ser usados para forçar uma quebra de linha.
trim_trailing_whitespace = false

# Dockerfile não tem extensão, então usamos o nome do arquivo
[Dockerfile]
indent_size = 4